<!DOCTYPE html>
<html class="h-100" lang="pt-BR">

<head>
  <%- include('../../partials/head') %>
</head>

<body class="d-flex flex-column h-100">
  
  <%- include('../../partials/header') %>

  <main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5 mb-5">Editar despesa</h1>
      <form method="POST" action="/despesa/edit">
        <%- include('form.ejs') %>
      </form>
    </div>
  </main>

  <%- include ('../../partials/footer') %>
  <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>